body {
    overflow: hidden;
}

a {
    text-decoration: none !important;
    color: #198754 !important;
}

.container {
    min-height: 55vh;
    color: #198754;
    font-family: 'Poppins', sans-serif;
    margin: 90px auto;
    width: 45%;
    padding: 12px 12px;
}

h1 {
    text-align: center;
    margin-top: 90px;
}

#hero {
    height: 60vh;
    margin-bottom: 60px;
}

.bottom {
    height: 110px;
    background-color: #198754;
    color: #fff !important;
}

.footer {
    position: relative;
    top: -50px;
}

.home {
    position: relative;
    background-color: #198754 !important;
    box-shadow: 1px #198754;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    height: 40px;
    top: 250px;
    left: 450px;
    color: white;
    font-size: 1.8rem;
    background-color: white;
    padding-top: 4px;
}

.message {
    display: none;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.message.success {
    background-color: #d4edda;
    color: #155724;
}

.message.error {
    background-color: #f8d7da;
    color: #721c24;
}
.log{
    text-decoration: none;
    color: white;
}
